*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.Text-and-date{
    margin-top: 10px;
    width: 100px;
    height: 110px;
    padding: 10px;
    text-align: center;
}
